* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  width: 950px;
  margin: 100px auto;
  padding: 30px;
  border: 2px solid red;
}

.exp {
  padding: 50px;
  background-color: brown;
  text-align: center;
}
